{% extends "base.html" %}

{% block reg %}
{% load staticfiles %}
<link href="{% static "css/reg.css" %}" rel="stylesheet">

<form class="form-container">
<div><h2>REGISTRATION</h2></div>
		<div class="group">
			<label for="name">Name:</label>
			<input class="form-field" id="name" type="text" name="name" />
		</div>
		<div class="group">
			<label for="surname">Surname:</label>
			<input class="form-field" id="surname" type="text" name="surname" />
		</div>
		<div class="group">
			<label for="email">Email:</label>
			<input class="form-field" id="email" type="text" name="email" />
		</div>
		<div class="group">
			<label for="phone_number">Phone number:</label>
			<input class="form-field" id="phone_number" type="text" name="phone_number" />
		</div>
		<div class="group">
			<label for="password">Password:</label>
			<input class="form-field" id="password" type="text" name="password" />
		</div>

	<div class="submit-container">
	<input class="submit-button" type="submit" value="Submit" />
	</div>
</form>
{% endblock %}



